.card_article {
  width: auto;
  border-radius: 10px;
  transition: 0.3s;

  .title {
    font-size: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    border-radius: 10px 10px 0 0;
    height: 200px;
    // max-height: 250px;
    object-fit: cover;
  }

  @media screen and (max-width: 750px) {
    img {
      height: 125px;
    }

    .title {
      font-size: 1rem;
    }
  }
}

.card_article:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transform: translate(0, -10px);
  transition: 0.3s;
}

// .card_article {
//   height: 300px;
//   width: auto;
//   border-radius: 10px;
//   color: #fff;
//   transition: 0.5s;
//   .overlay {
//     background: linear-gradient(
//       0deg,
//       rgba(0, 0, 0, 0.6) 100%,
//       rgba(255, 255, 255, 0) 100%
//     );
//     border-radius: 0 0 10px 10px;
//   }
//   img {
//     border-radius: 10px;
//     height: 300px;
//     width: auto;
//     object-fit: cover;
//   }
//   .date {
//     font-size: auto;
//   }

//   @media screen and (max-width: 700px) {
//     height: 150px;
//     width: auto;
//     border-radius: 10px;
//     color: #fff;
//     img {
//       border-radius: 10px;
//       height: 150px;
//       width: auto;
//       object-fit: cover;
//     }
//     .title {
//       font-size: small;
//     }
//     .date {
//       font-size: xx-small;
//     }
//   }
// }