.section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .title {
    font-weight: bold;
    color: rgb(34, 34, 34);
  }
}

@media screen and (max-width: 990px) {
  .section {
    background-image: none !important;
  }
}
