.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  position: relative;
  .hero_title {
    font-weight: bold;
    font-size: 2.2em;
  }
}

.hero_v2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  padding-top: 80px;
  position: relative;
  .hero_title {
    font-weight: bold;
  }
}

@media screen and (max-width: 990px) {
  .hero {
    background-image: none !important;
    .hero_title {
      font-size: 2rem;
    }
  }
  .hero_v2 {
    background-image: none !important;
  }
}
