.image {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center center;
}

.icon {
    font-size: 1.4rem;
}

@media (max-width: 575px) {
    .image {
        width: 80px;
        height: 80px;
    }
    .text {
        font-size: 0.9rem;
    }
    .icon {
        font-size: 1rem;
    }
}
