.nav_link {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bolder;
}

.megamenu {
    padding: 0;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid rgb(211, 211, 211);
    background: linear-gradient(to right,
            #f8f8f8 50%,
            white 50%);

    .menu_title {
        font-weight: bold;
    }
}

@media all and (min-width: 992px) {
    .has_megamenu {
        position: static !important;
    }

    .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

    .dropdown_menu {
        margin-top: 20px !important;
        min-width: 550px;
        border-radius: 10px;
    }

    .dropdown_menu_courses {
        margin-top: 20px !important;
        min-width: 700px;
        border-radius: 10px;

        @media screen and (min-width: 1200px) {
            right: auto;
            left: 20%;
            -webkit-transform: translate(-20%, 0);
            -o-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
        }
    }
}

@media screen and (max-width: 1200px) {
    .megamenu {
        height: 40vh;
        overflow-y: scroll;
        background: white;
        font-size: smaller;
        border-bottom: none;

        .menu_title {
            font-size: 1rem;
        }
    }

    .dropdown_menu {
        padding-top: 0;
        font-size: smaller;
        border: 0;
        height: 20em;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .dropdown_menu_courses {
        padding-top: 0;
        border: 0;
        height: 20em;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}