.card {
    border-radius: 15px;
    height: 350px;
    span {
        border-radius: 10px;
        background: linear-gradient(-45deg, #f5f5f5, #dbdbdb, #b1b1b1, #686868);
        background-size: 400% 400%;
        animation: gradient 5s linear infinite;
        display: block;
        height: 10px;
    }
    .card_img {
        height: 350px;
        width: auto;
        border-radius:  15px;
        background: linear-gradient(-45deg, #f5f5f5, #dbdbdb, #b1b1b1, #686868);
        background-size: 400% 400%;
        animation: gradient 5s linear infinite;
    }
    .overlay {
        height: auto;
        top: unset;
        bottom: 0;
        border-radius: 0 0 15px 15px;
        .title {
            font-size: auto;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 700px) {
    .card {
        border-radius: 15px;
        height: 280px;
        .card_img {
            height: 280px;
            width: auto;
            object-fit: cover;
            border-radius: 15px;
        }
        .overlay {
            height: auto;
            top: unset;
            bottom: 0;
            border-radius: 0 0 15px 15px;
            .title {
                font-size: small;
            }
        }
    }
}