.hero {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  //   background-color: #14a7a0;
  background-color: #f5f7fa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.background-strip {
  position: absolute;
  width: 21%;
  top: 0;
  bottom: 0;
  z-index: -1;
  right: 0;
  background-color: #14a7a0;
}
