.dotted_line {
  border: none;
  border-top: 4px solid #7a7a7a;
  color: #fff;
  background: #fff;
  height: 2px;
}

.circle {
  padding: 10px;
  border-radius: 50%;
  background-color: #14a7a0;
  color: #fff;
  z-index: 2;
  height: 5px;
  width: 5px;
}

.year {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .year {
    font-size: 1rem;
  }
}