.vector-position {
  // left: 6%;
  top: 50%;
  bottom: 50%;
}

.vector-responsive {
  width: 400px;
  height: 400px;
}

.vector-profit {
  width: 80%;
}

@media screen and (max-width: 576px) {
  .wrap {
    margin: -60px 20px 0 0 !important;
    transform: scale(0.6);
  }
}
