.card_beasiswa {
    border-radius: 15px;
    .card_img_top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 230px;
        width: auto;
        object-fit: cover;
    }
}