@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url("/assets/fonts/Avenir-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Gabriola";
  src: local("Gabriola"), url("/assets/fonts/Gabriola.ttf") format("truetype");
}

.card {
  width: 1000px;
  height: auto;
  margin: 10px auto;
  .certificate_wrapper {
    text-align: center;
    margin-top: 23%;
    .name {
      padding-top: 30px;
      font-family: "Gabriola", sans-serif;
    }
    .description {
      width: 50%;
      font-size: small;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .qr_wrapper {
    // margin-top: 10px;
    margin-left: 11%;
    font-family: "Avenir", sans-serif;
    .certificate_qr {
      height: 40%;
    }
    .certificate_link {
      font-size: small;
      margin: 0;
    }
  }
}
