.card {
  transition: 0.5s;
  border-radius: 15px;
  height: 95%;
  .pill_index {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #14a7a0;
    border-radius: 50%;
    color: #fff;
    left: -3%;
    top: -3%;
    font-weight: bold;
  }
  .title {
    font-size: 1rem;
  }

  .total_module {
    font-size: 0.8rem;
  }
}

.card:hover {
  transition: 0.5s;
  transform: translate(0, -10px);
  // color: #07a6a1;
}

@media screen and (max-width: 700px) {
  .card {
    .pill_index {
      width: 90px;
      height: 90px;
    }
  }
}
