.card_leaderboard {
    border-radius: 15px;
    .card_body {
        border-radius: 15px;
        p {
            margin-bottom: 0;
        }
        .card_img {
            height: 70px;
            width: 70px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }
        .name {
            font-size: auto;
            color: rgb(47, 47, 47);
        }
        .point {
            font-size: 30px;
            font-weight: bold;
        }
        .point_caption {
            font-size: auto;
            color: gray;
        }

        @media screen and (max-width: 700px) {
            .card_img {
                height: 40px;
                width: 40px;
            }
            .name {
                font-size: medium;
            }
            .point {
                font-size: medium;
            }
        }
    }
}

.animated_background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s linear infinite;

    .name, p, span {
        color: white !important;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}