// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

// Main Color
$primary: #14a7a0;
$pink: #ff869a;

// Color
$light-orange: #fff7d9;
$light-green: #e2ffe5;
$light-blue: #eafdff;
$light-gray: #f8f9fa;
$enable-negative-margins: true;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.6em !important;
}

h1,
h2,
h5 {
  font-weight: bold !important;
  line-height: 1.3em !important;
}

* {
  box-sizing: border-box;
}

// Hide arrow input field number
/* Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[id] {
  scroll-margin-top: 50px;
}

.mb-n1 {
  margin-bottom: -0.25rem;
}

.mb-n2 {
  margin-bottom: -0.5rem;
}

.mb-n3 {
  margin-bottom: -0.75rem;
}

.mt-n3 {
  margin-top: -0.75rem;
}

.text-ellipsis-2 {
  font-size: medium;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-2:hover {
  -webkit-line-clamp: 5;
}

/* Navbar */
@media screen and (min-width: 1200px) {

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    border: none !important;
    z-index: 1;
    border-radius: 2%;
  }

  .dropdown-content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 35%;
    margin-left: -11%;
    margin-top: -15px;
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 15px #FFF;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;

    @at-root {
      .program {
        .dropdown-content::before {
          margin-left: -25.5%;
        }

        .dropdown-content::after {
          margin-left: -25%;
        }
      }

      .partnership {
        .dropdown-content::before {
          margin-left: -23.5%;
        }

        .dropdown-content::after {
          margin-left: -23%;
        }
      }
    }
  }

  .dropdown-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 35%;
    margin-left: -11.5%;
    margin-top: -17px;
    width: 0;
    z-index: 1;
    height: 0;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #CCC;
    border-left: 17px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
}

#Navbar,
#Main,
#Footer {

  // Markdown
  .markdown {
    img {
      width: 100%;
      height: auto;
    }

    pre {
      background: $light-gray;
      color: darkslategray;
      padding: 10px;
      margin: 10px auto;

      code {
        color: darkslategray;
      }
    }

    a {
      text-decoration: none;
      color: $primary;
    }

    p,
    ul,
    ol {
      color: #6c757d;
    }
  }

  // Fonts
  font-family: "Open Sans",
  sans-serif;

  // Dropdown
  .dropdown-item {
    border-radius: 15px;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: $primary;
    background-color: #dbdbdb;
    border-radius: 15px;
  }

  // Background Color
  .bg-codepolitan {
    background-color: $primary;
  }

  .bg-pink {
    background-color: $pink;
  }

  .bg-light-codepolitan {
    background-color: #e9f7f7;
  }

  .bg-light-orange {
    background-color: $light-orange;
  }

  .bg-light-green {
    background-color: $light-green;
  }

  .bg-light-blue {
    background-color: $light-blue;
  }

  .bg-grey {
    background-color: #f8f8f8;
  }

  .bg-purple {
    background-color: #bd0ac0;
  }

  // Section
  .section {
    .section-title {
      font-weight: bold;
      color: #494949;
    }
  }

  // Text Color
  .text-primary {
    color: $primary !important;
  }

  // Button
  .btn-primary {
    background-color: $primary;
    border: none;
    color: white;
  }

  .btn-primary:hover {
    background-color: #118a84;
    color: white;
  }

  .btn-pink {
    background-color: $pink;
    border: none;
    color: white;
  }

  .btn-pink:hover {
    background-color: rgb(255, 95, 124);
    color: white;
  }

  // button outline
  .btn-outline-primary {
    background-color: none;
    border: 1.5px solid $primary;
    color: $primary;
  }

  .btn-outline-primary:hover {
    background-color: #118a84;
    color: white;
  }

  .btn-outline-light:hover {
    color: $primary;
  }

  // Link
  .link {
    text-decoration: none;
    color: gray;
    margin-bottom: 3px;
  }

  .link:hover {
    color: black;
  }

  // Footer Section
  .footer-socmed-link {
    font-size: 20px;
    color: gray;
    margin-inline-start: 20px;
  }

  .footer-socmed-link:hover {
    color: $primary;
  }

  // accordion
  #accordionFlushCardMentorSidebar {
    .accordion-button:not(.collapsed) {
      color: gray;
      background-color: #fff;
      box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }
  }

  #FormatBelajarAccordion {
    .accordion-button {
      background-color: $light-gray;
    }

    .accordion-button:not(.collapsed) {
      color: $primary;
      background-color: $light-gray;
    }

    .accordion-button:link,
    .accordion-button:visited,
    .accordion-button:hover,
    .accordion-button:active {
      background-color: $light-gray;
      color: $primary;
      text-decoration: none;
      border: hidden;
      border-color: #fff;
      box-shadow: 0px;
    }

    .accordion-button:focus {
      z-index: 3;
      border-color: none;
      outline: 0;
      box-shadow: none;
    }

    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      transform: rotate(180deg);
    }
  }

  #mitraKami {
    .nav {
      box-sizing: border-box;
      border-bottom: 1px solid rgb(224, 217, 217);
    }

    .nav-link:hover {
      border: 1px solid white;
      color: $primary !important;
    }

    .nav-item .active {
      color: $primary !important;
      border: 1px solid white;
      border-bottom: 3px solid $primary;
    }

    .img-modal {
      position: relative;
      z-index: 2 !important;
    }

    .partner-logo {
      background-color: #f8f8f8;
      height: 120px;
      width: 65%;
      position: absolute;
      right: 1px;
      bottom: 3%;
      display: flex;
    }

    #corporateTraining {
      .nav-link.active {
        background-color: #f8f8f8;
        border: 1px solid #f8f8f8;
        border-bottom: 3px solid $primary;
      }

      .nav-link.active:hover {
        background-color: #f8f8f8;
        border: 1px solid #f8f8f8;
        border-bottom: 3px solid $primary;
      }

      .nav-link:hover {
        border: 1px solid #f8f8f8;
        color: $primary !important;
      }
    }
  }

  #FaqProgramAccordion {
    .accordion-button:not(.collapsed) {
      color: #fff;
      background-color: $light-gray;
    }

    .accordion-button:link,
    .accordion-button:visited,
    .accordion-button:hover,
    .accordion-button:active {
      background-color: $light-gray;
      color: #fff;
      text-decoration: none;
      border: hidden;
      border-color: #fff;
      box-shadow: 0px;
    }

    .accordion-button:focus {
      z-index: 3;
      border-color: #fff;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #fff;
    }
  }

  // PZN
  #buyPznRoadmap {
    .nav-link {
      color: $primary;
    }

    .nav-link.active {
      background-color: $primary;
      color: white;
    }
  }

  /** Tabs **/
  #ForumTab,
  #BeasiswaTab {
    .nav-link {
      color: gray;
      border: none;
    }

    .nav-link.active {
      background-color: white;
      color: $primary;
      border-bottom: 3px solid $primary;
      font-weight: bold;
    }
  }

  #mentorBekerja {
    .nav-link {
      padding: 15px;
      margin-bottom: 7px;
      color: #8a8a8a;
      background-color: #f8f8f8;
    }

    .nav-link:nth-child(6) {
      margin-bottom: 0;
    }

    .nav-link:hover {
      background-color: #f8f8f8;
      width: 90%;
    }

    .nav-link.active {
      width: 90%;
      color: #fff;
      background-color: $primary;
      border-radius: 0;
      font-weight: 700;
    }
  }

  #sidebarCourseDetail {
    .nav-link {
      background-color: rgb(239, 240, 247);
      color: black;
    }

    .nav-link.active {
      background-color: white;
      color: black;
    }

    .wrap {
      position: relative;
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(39, 39, 39, 0.2);
      border-radius: 15px 15px 0 0;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .display {
      border-radius: 15px 15px 0 0;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .wrap:hover .overlay {
      opacity: 1;
      cursor: pointer;
    }

    .wrap:hover .display {
      opacity: 0;
      cursor: pointer;
    }

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    #tabsidebar {
      #pills-tab {
        .active {
          color: $primary !important;
          border-top: 4px solid $primary !important;
          // border-radius: 20px 20px 0 0 !important;
        }
      }
    }
  }

  #pills-tab-training {
    .nav-link {
      color: darkslategrey;
    }

    .active {
      color: darkslategrey;
      background-color: lightgray !important;
    }
  }

  .btn-rounded {
    border-radius: 10px;
  }

  .card-rounded {
    border-radius: 15px;
  }

  .card-rounded-bottom {
    border-radius: 0 0 15px 15px;
  }

  @media screen and (max-width: 576px) {
    .card-rounded {
      border-radius: 0;
    }

    .card-rounded-bottom {
      border-radius: 0;
    }
  }

  #sidebarPzn {
    .nav-link {
      color: gray;
      border: none;
    }

    .nav-link.active {
      background-color: white;
      color: $primary;
      border-bottom: 3px solid $primary;
    }

    #tabSidebarPzn {
      .nav-link {
        color: gray;
        background-color: white;
        border: none;
      }

      .nav-link.active {
        background-color: $primary;
        color: white;
      }
    }
  }

  #CampaignCourseList {
    .nav-pills .nav-link {
      color: rgb(29, 29, 29);
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      color: white;
      background-color: #14a7a0;
    }
  }

  #codepolitanSelf {
    table {
      border-radius: 1em;
    }

    tbody tr:nth-child(odd) {
      background-color: white;
    }

    tbody tr:nth-child(even) {
      background-color: #f8f8f8;
    }

    table thead {
      border-bottom: 2px solid white;
    }

    table thead th:nth-child(1) {
      border-right: 5px solid white;
    }

    table tbody td {
      color: #727a82;
      border-color: white;
    }

    table tbody td:nth-child(1) {
      border-right: 5px solid white;
    }

    @media screen and (min-width: 576px) {
      table thead th {
        font-size: 1.3em;
      }

      table tbody td {
        padding-left: 20px;
      }
    }
  }

  //Swiper Js
  #Swiper {
    #course {
      @media screen and (min-width: 1200px) {
        .swiper {
          margin: 0 !important;
          z-index: 1;
        }

        .swiper-button-prev {
          display: block;
          background: url("/assets/img/icons/icon-prev.png") no-repeat;
          background-size: 45px;
          width: 60px;
          height: 60px;
          left: 0;
        }

        .swiper-button-next {
          display: block;
          background: url("/assets/img/icons/icon-next.png") no-repeat;
          background-size: 45px;
          width: 60px;
          height: 60px;
          right: -1%;
        }
      }
    }

    #forMentor {
      .swiper-pagination-bullet {
        border-radius: 50%;
        width: 0.8rem;
        height: 0.8rem;
        margin: 0 5px;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #14a7a0;
      }
    }

    .swiper {
      padding-left: 0;
      padding-right: 0;
    }

    .swiper-slide {
      height: auto;
    }

    .swiper-pagination-bullet {
      opacity: 0.5;
      background: #8d8d8d;
      border-radius: 0%;
      width: 2rem;
      height: 5px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #14a7a0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    .swiper-button-next::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    @media screen and (min-width: 1200px) {
      .swiper-button-prev {
        display: block;
        background: url("/assets/img/icons/icon-prev.png") no-repeat;
        width: 45px;
        left: 0;
      }

      .swiper-button-next {
        display: block;
        background: url("/assets/img/icons/icon-next.png") no-repeat;
        width: 45px;
        right: 0;
      }
    }
  }

  #SwiperSlider {
    .swiper-pagination-bullet {
      opacity: 0.5;
      background: #8d8d8d;
      border-radius: 0%;
      width: 2rem;
      height: 5px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #14a7a0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    .swiper-button-next::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    @media screen and (min-width: 1200px) {
      .swiper-button-prev {
        display: block;
        background: url("/assets/img/icons/icon-prev-white.png") no-repeat;
        width: 60px;
        height: 60px;
        left: 0;
      }

      .swiper-button-next {
        display: block;
        background: url("/assets/img/icons/icon-next-white.png") no-repeat;
        width: 60px;
        height: 60px;
        right: 0;
      }
    }
  }

  #SwiperHero {
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $pink;
    }
  }

  #swiperCarouselTestimony {
    .swiper-pagination-bullet {
      opacity: 0.5;
      background: #8d8d8d;
      border-radius: 0%;
      width: 2rem;
      height: 5px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #14a7a0;
    }

    .swiper-button-prev {
      background: url("/assets/img/program/icons/prev.png") no-repeat;
      width: 45px;
      left: 0;
    }

    .swiper-button-next {
      background: url("/assets/img/program/icons/next.png") no-repeat;
      width: 45px;
      right: 0;
    }

    .swiper-button-prev::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    .swiper-button-next::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }
  }

  #swiperHomepage {
    .swiper-pagination-bullet {
      opacity: 0.5;
      background: #8d8d8d;
      border-radius: 0%;
      width: 2rem;
      height: 5px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #14a7a0;
    }

    .swiper-button-prev {
      background: url("/assets/img/icons/icon-prev-white.png") no-repeat;
      width: 60px;
      height: 60px;
      left: 80px;
    }

    .swiper-button-next {
      background: url("/assets/img/icons/icon-next-white.png") no-repeat;
      width: 60px;
      height: 60px;
      right: 80px;
    }

    .swiper-button-prev::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    .swiper-button-next::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }
  }

  #SwiperBeasiswaHome {
    .swiper-button-prev {
      background: url("/assets/img/program/icons/prev.png") no-repeat;
      width: 45px;
      left: 89%;
      top: 25px;
    }

    .swiper-button-next {
      background: url("/assets/img/program/icons/next.png") no-repeat;
      width: 45px;
      top: 25px;
    }

    .swiper-button-prev::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    .swiper-button-next::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    @media screen and (max-width: 1024px) {
      .swiper {
        padding-top: 0;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }

  #swiperCarouselStudyCase {
    .swiper-pagination-bullet {
      display: none;
    }

    .swiper-button-prev {
      background: url("/assets/img/program/icons/prev.png") no-repeat;
      width: 45px;
      left: 82%;
      top: 25px;
    }

    .swiper-button-next {
      background: url("/assets/img/program/icons/next.png") no-repeat;
      width: 45px;
      top: 25px;
    }

    .swiper-button-prev::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }

    .swiper-button-next::after {
      content: none;
      font-size: 50px;
      color: #14a7a0;
    }
  }

  #SwiperForSchool {
    .swiper {
      padding-left: 0;
      padding-right: 0;
    }

    .swiper-pagination-bullet {
      opacity: 0.5;
      background: #8d8d8d;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: rgb(95, 95, 95);
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev::after {
      content: "<";
      font-size: 50px;
      color: rgb(95, 95, 95);
      font-weight: bold;
    }

    .swiper-button-next::after {
      content: ">";
      font-size: 50px;
      color: rgb(95, 95, 95);
      font-weight: bold;
    }

    @media screen and (min-width: 1200px) {
      .swiper {
        padding-left: 20px;
        padding-right: 20px;
      }

      .swiper-button-prev {
        display: block;
        left: 0;
      }

      .swiper-button-next {
        display: block;
        right: 0;
      }
    }
  }

  // Bootstrap Carousel
  #carouselPartnerControls {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      background-size: 100%, 100%;
      background-image: none;
    }

    .carousel-control-next-icon:after {
      position: relative;
      right: -4rem;
      top: 1.5rem;
      content: ">";
      font-size: 2rem;
      color: rgb(39, 39, 39);
    }

    .carousel-control-prev-icon:after {
      position: relative;
      top: 1.5rem;
      left: -4rem;
      content: "<";
      font-size: 2rem;
      color: rgb(39, 39, 39);
    }
  }
}

@media screen and (max-width: 700px) {
  #swiperCarouselStudyCase {
    .swiper-button-prev {
      background: url("/assets/img/program/icons/prev.png") no-repeat;
      width: 45px;
      left: 70% !important;
    }

    .swiper-button-next {
      background: url("/assets/img/program/icons/next.png") no-repeat;
      width: 45px;
      right: 0 !important;
    }
  }

  #carouselPartnerControls {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      background-size: 100%, 100%;
      background-image: none;
    }

    .carousel-control-next-icon:after {
      position: relative;
      left: 2.5rem;
      content: ">";
      font-size: 30px;
      color: rgb(39, 39, 39);
    }

    .carousel-control-prev-icon:after {
      position: relative;
      left: -2.5rem;
      content: "<";
      font-size: 30px;
      color: rgb(39, 39, 39);
    }
  }
}

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";