ul.discord_icon {
  list-style-image: url("/assets/img/program/icon-check.png");
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 30px;
}

ul.discord_icon > li {
  margin: 10px 0 10px 0px;
  padding-left: 10px;
}

.headline {
  font-size: 2rem;
  font-weight: normal !important;
}

.count {
  font-size: 2.2rem;
  color: #14a7a0;
}

.card_label_materi {
  padding-top: 10px;
  font-size: 1.3em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #14a7a0;
  color: #fff;
  right: 5%;
  top: 0;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .headline {
    font-size: 2rem;
  }
  .count {
    font-size: 1.5rem;
    color: #14a7a0;
    font-weight: bold;
  }
}
