.wrapper {
    padding-bottom: 370px;
    .card_image {
        display: inline-block;
        z-index: 2;
        position: absolute;
        top: 150px;
        width: 355px;
        height: auto;
    }
    .card {
        height: 400px;
        width: 85%;
        border-radius: 15px;
        .text_wrapper {
            padding: 80px 30px 0 230px;
        }
    }
}