.avatar_img {
    object-fit: cover;
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 700px) {
    .avatar_img {
        object-fit: cover;
        height: 60px;
        width: 60px;
    }

    .user_info {
        font-size: smaller;
        h5 {
            font-size: medium;
        }
    }
}