.hexagon {
    position: relative;
    background: url('https://i.ibb.co/TTgvq0P/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 35px 25px 25px 25px;
    color: white;
}