.section {
  background-image: url("/assets/img/program/certificate-img.png");
  background-color: rgb(222, 223, 223);
  background-color: linear-gradient(
    90deg,
    rgba(222, 223, 223, 1) 0%,
    rgba(242, 242, 242, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .title {
    font-weight: bold;
    color: #14a7a0;
  }
}

@media screen and (max-width: 990px) {
  .section {
    background-image: none !important;
  }
}
