.hero {
  padding-top: 70px;
  // background-color: #14a7a0;

  .hero_title {
    color: white;
    font-weight: bold;
  }


  .hero_item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 700px) and (max-width: 1200px) {
      background-position: right;
    }
  }

  .hero_card_2 {
    background-image: url("/assets/img/home/banner-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero_card_3 {
    background-image: url("/assets/img/home/banner-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero_card_4 {
    background-image: url("/assets/img/home/banner-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    padding-top: 80px;
  }
}