.card_img {
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 2;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
  }
  
  .testimony_card {
    z-index: 0;
    border-radius: 25px;
    min-height: 250px;
  }
  