.card:hover {
  box-shadow: 1px 1px 4px 0 rgb(128, 226, 172);
}

.img-responsive {
  width: 70px;
}

@media screen and (max-width: 576px) {
  .img-responsive {
    width: 50px;
  }
  .username {
    font-size: medium;
  }
}
