.card {
    color: gray;
    .card_icon {
        height: 30px;
    }
    .badge {
        background-color: #14a7a0;
        color: white;
        opacity: 0.7;
    }
    .rp {
        font-size: 1rem;
        position: relative;
        top: -1em;
        font-weight: bold;
        margin-top: 0;
    }
    .price {
        font-size: 2rem;
        font-weight: bold;
    }
}

.card:hover {
    background-color: #e7e8ea;
    color: #6c757d;
    cursor: pointer;
    .badge {
        background-color: #14a7a0;
        color: #fff;
    }
}

.card.active {
    background-color: #e7e8ea;
    color: #6c757d;
    .badge {
        background-color: #14a7a0;
        color: #fff;
    }
}

@media screen and (max-width: 700px) {
    .card {
        font-size: small;
        .card_icon {
            height: 20px;
        }
        .card_title {
            font-size: medium;
        }
        .rp {
            font-size: 0.6rem;
            position: relative;
            top: -1em;
            font-weight: bold;
            margin-top: 0;
        }
        .price {
            font-size: medium;
            font-weight: bold;
        }
    }
}