.hero {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F8F8F8;
    background-image: url('/assets/img/forschool/bg-forschool.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .hero_title {
        color: #717171;
        font-weight: bold;
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        padding-top: 100px;
    }
}