.hero {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F8F8F8;
    background-image: url('/assets/img/exercise/vector.png');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero_title {
        color: #FFF;
        font-weight: bold;
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        padding-top: 100px;
    }
}