.card_img {
    border-radius: 15px;
    height: 15rem;
    width: 100%;
    object-fit: cover;
    object-position: center top;

    @media screen and (max-width: 1000px) {
        height: 18rem;
    }
}

.jobs {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}