.section {
  margin: 0;
  background-image: url("/assets/img/programmerzamannow/cta-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  .title {
    font-weight: bold;
    color: white;
    text-align: center;
  }
}
