.background {
    background: #14a7a0;

    @media screen and (min-width: 700px) {
        background: linear-gradient(to right,
                #14a7a0 0%,
                #14a7a0 35%,
                white 35%,
                white 100%)
    }
}