.del {
    font-size: 1rem;
    position: relative;
    top: -1em;
    margin: 0 10px 0 10px;
}
.rp {
    font-size: 1rem;
    position: relative;
    top: -1em;
    font-weight: bold;
    margin-top: 0;
}
.price {
    font-size: 2rem;
    font-weight: bold;
}