.card_slider {
    height: 400px;
    width: auto;
    border-radius: 20px;
    color: #fff;
    .overlay {
        background: linear-gradient(0deg, rgba(0,0,0,0.5) 100%, rgba(255,255,255,0) 100%);
        border-radius: 20px;
    }
    img {
        border-radius: 20px;
        height: 400px;
        width: auto;
        object-fit: cover;
    }
    .title {
        font-size: 2rem;
    }
    .description {
        font-size: auto;
    }

    @media screen and (max-width: 1000px) {
        height: 200px;
        width: auto;
        border-radius: 20px;
        color: #fff;
        img {
            border-radius: 20px;
            height: 200px;
            width: auto;
            object-fit: cover;
        }
        .title {
            font-size: medium;
        }
        .description {
            font-size: small;
        }   
    }
}