.card {
    border-radius: 15px;
    height: 350px;
    .card_img {
        height: 350px;
        width: auto;
        object-fit: cover;
        border-radius: 15px;
    }
    .overlay {
        height: auto;
        top: unset;
        bottom: 0;
        border-radius: 0 0 15px 15px;
        .title {
            font-size: auto;
        }
    }
    .overlay_hover {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.8754546862690389) 27%, rgba(255,255,255,0) 100%);
        border-radius: 15px;
        font-size: smaller;
        .rate {
            font-weight: bold;
        }
        .roadmap_icon {
            display: block;
            margin: 10px auto 10px 0;
            width: auto;
            height: 25px;
        }
    }
}

@media screen and (max-width: 700px) {
    .card {
        border-radius: 15px;
        height: 280px;
        .card_img {
            height: 280px;
            width: auto;
            object-fit: cover;
            border-radius: 15px;
        }
        .overlay {
            height: auto;
            top: unset;
            bottom: 0;
            border-radius: 0 0 15px 15px;
            .title {
                font-size: small;
            }
        }
        .overlay_hover {
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.8754546862690389) 27%, rgba(255,255,255,0) 100%);
            border-radius: 15px;
            font-size: small;
            .title {
                font-size: small;
            }
            .roadmap_icon {
                width: auto;
                height: 20px;
            }
            .roadmap_title {
                font-size: xx-small;
            }
            .roadmap_info {
                font-size: xx-small;
            }
            .rate {
                font-weight: bold;
                font-size: xx-small;
            }
        }
    }
}