.section {
  background-image: url("/assets/img/program/cta-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
.cta_title {
  color: rgb(65, 65, 65);
}

.btn_cta {
  color: white;
  background: rgb(255, 122, 144);
}

.btn_cta:hover {
  color: white;
  background: rgb(224, 46, 76);
}

@media screen and (max-width: 700px) {
  .section {
    background: none;
    // background-image: url("/assets/img/program/cta-background-small.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
  }
  .cta_title {
    color: white !important;
  }
}
