.hero {
  // background-image: url("/assets/img/programmerzamannow/eko.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  min-height: 650px;
  // padding-top: 90px;
  // position: relative;
  .hero_title {
    font-weight: bold;
  }
}

// @media screen and (max-width: 990px) {
//   .hero {
//     background-image: none !important;
//   }
// }
