.hero {
  background-image: url("/assets/img/programmerzamannow/eko-2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 450px;
  padding-top: 90px;
  position: relative;
  .hero_title {
    font-weight: bold;
  }
}

@media screen and (max-width: 990px) {
  .hero {
    background-image: none !important;
  }
}
