.hero {
    padding-top: 100px;
    background: linear-gradient(180deg, #14A7A0 70%, #fff 30%);
}

@media screen and (max-width: 700px) {
    .hero {
        background: linear-gradient(180deg, #14A7A0 85%, #fff 15%);
    }
}