.hero {
  //   height: 100vh;
  background-color: #f8f8f8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero_title {
    color: #717171;
    font-weight: bold;
  }
  .lead {
    color: #717171;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    padding-top: 100px;
  }
}
