.banner {
    padding-top: 100px;
    padding-bottom: 30px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;

    @media screen and (max-width: 1000px) {
        background-position: right top !important;
    }
}