.card_job {
    border-radius: 15px;
    .card_img_top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 230px;
        width: auto;
        object-fit: cover;
    }
    .company {
        color: gray;
        border-bottom: 3px solid #14a7a0;
        padding-bottom: 5px;
    }
}