.card {
    border-radius: 25px;
    border: none;
    height: 100%;
    width: auto;
    .card_title {
        font-size: medium;
    }
    .card_img {
        object-fit: cover;
        height: 100%;
        width: auto;
        border-radius: 25px;
    }
    .text_background {
        position: absolute;
        width: 70px;
        height: 80px;
        background-color: #14a7a0;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        left: 0px;
        bottom: 0%;
        z-index: 1;
        overflow: hidden;
    }
    .overlay {
        background: rgb(62,62,62);
        background: linear-gradient(0deg, rgba(62,62,62,0.402065330526742) 0%, rgba(255,255,255,0) 100%);
        z-index: 2;
        border-radius: 25px;
    }
}

@media screen and (max-widht: 700px) {
    .card {
        .card_title {
            font-size: small;
        }
    }
}