.card_course {
    border-radius: 10px;
    transition: 0.5s;
    .card_img_top {
        height: 160px;
        width: auto;
        background: linear-gradient(-45deg, #f5f5f5, #dbdbdb, #b1b1b1, #8f8f8f);
        background-size: 400% 400%;
        animation: gradient 10s linear infinite;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    span {
        border-radius: 10px;
        background: linear-gradient(-45deg, #f5f5f5, #dbdbdb, #b1b1b1, #8f8f8f);
        background-size: 400% 400%;
        animation: gradient 10s linear infinite;
        display: block;
        height: 10px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 700px) {
    .card_course {
        border-radius: 10px;
        transition: 0.5s;
        .card_img_top {
            height: 230px;
            width: auto;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .course_author {
            font-size: small;
        }
        .course_title {
            font-size: large;
            color: #474747;
            margin: 5px auto;
        }
        .course_level {
            font-size: small;
            font-weight: bold;
            color: gray;
        }
        .course_info {
            font-size: small;
            color: gray;
        }
        .rate_and_price {
            font-size: medium;
        }
    }
}