.floating_btn {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 75px;
    right: 15px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
}

.floating_alert {
    position: fixed;
    width: 200px;
    height: auto;
    bottom: 70px;
    right: 70px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-size: small;
    color: gray;
    padding: 8px;
    z-index: 100;
    box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
}

.floating_card {
    position: fixed;
    width: auto;
    height: auto;
    max-width: 350px;
    bottom: 140px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-size: small;
    color: gray;
    z-index: 100;
    box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 9px 21px -13px rgba(0, 0, 0, 0.55);
}