.card {
  transition: 0.5s;
  border-radius: 15px;
}
.card:hover {
  transform: translate(0, -6px);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card-roadmap {
  border-radius: 15px 15px 0 0;
  background-size: cover;
  height: 150px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
